<!DOCTYPE html>
<html>

<head>
    <title>About Us</title>
    <link rel="icon" type="image/x-icon" href="images/BBP_Logo.png">
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <header>
        <%- include('partials/navbar') %>
    </header>

    <main>
        <section class="about-section">
            <h1>About Us</h1>
            <p>Welcome to BBP&S by Muscle Corp! We are passionate about providing high-quality nutritional supplements
                to support your fitness journey.</p>
            <p>Our mission is to empower individuals to achieve their health and fitness goals by offering premium
                products crafted with the finest ingredients and backed by science.</p>
            <p>At BBP&S, we strive for excellence in everything we do. From product formulation to customer service, we
                are committed to delivering exceptional experiences to our customers.</p>
            <p>Thank you for choosing BBP&S Muscle Corp as your partner in health and wellness.</p>
        </section>
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>