<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/other/style.css">
</head>
<body>
    <header>
        <h1>Login Page</h1>
    </header>

    <section>
        <div id="login-container" class="dual-column">
            <form>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Submit" formaction="bulkUpload.html">
            </form>
        </div>
    </section>

    <footer>
        <a href="#">Don't have an account: Sign UP</a>
    </footer>
</body>
</html>
