<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="icon" type="image/x-icon" href="images/BBP_Logo.png">
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <header>
        <h1>Login Page</h1>
    </header>

    <section>
        <div id="login-container" class="dual-column">
            <form action="/login" method="post">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>

    <% if (error) { %>
        <p style="color: red;">
            <%= error %>
        </p>
        <% } %>

    <footer>
        <a href="/create">Don't have an account: Sign UP</a>
    </footer>
</body>

</html>