<!DOCTYPE html>
<html>

<head>
    <title>Purchased</title>
    <link rel="icon" type="image/x-icon" href="images/BBP_Logo.png">
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <header>
        <%- include('partials/navbar') %>
    </header>
    <main>
        <h1>Purchased</h1>
        <h2>Congratulations on your purchase! Your order is on its way.</h2>
    </main>
    <footer>
        <%- include('partials/footer') %>
    </footer>

</body>

</html>