header {
    height: 20%;
    background-color: #07394b;
    background-size: contain;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    padding: 10px;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    font: bold 40px impact;
}

.image-caption {
    background-color: black;
    color: white;
}

#deals {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

}

#deals img {
    display: block;
    margin: 0 auto;
}

.image-caption {
    text-align: center;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.deal {
    display: none;
    /* position: absolute; */
    animation-fill-mode: forwards;
}

.deal.active {
    display: block;
    animation: slideIn 2s;
    animation-fill-mode: forwards;
}

.deal.leaving {
    display: block;
    animation: slideOut 2s;
    animation-fill-mode: forwards;
}




h2 {
    color: #07394b;
    text-align: center;
    font: bold 30px impact;
}

section {
    height: 25%;
    font: 20px sans-serif;
}

.dual-column {
    width: 50%;
    padding-left: 10%;
}

#dual-container {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8%;
    background-color: #595959;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 10px solid #595959
}

.sort {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.sort select {
    padding: 10px;
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 10px solid #07394b;
}

.small {
    margin: 0 10px;
    border: 1px solid black;
    width: 72px;
    height: 72px;
}

.medium {
    margin: 0 10px;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.cart-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border: 10px solid white;
    padding: 10px;
}

.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
}

.product-details img {
    width: 400px;
    margin: 20px;
}

.product-details .details {
    padding: 20px;
    min-height: 400px;
    flex: 1;
}

#saveEdits {
    display: flex;
    justify-content: right;
}