<nav>
    <img src="/images/BBP_Logo.png" width="140" style="float: right;">
    <a href="/home">Home</a>
    <a href="/products">Products</a>
    <a href="/about">About</a>
    <a href="/recipes">Recipes</a>

    <form action="/search" method="GET">
        <input type="text" name="term" placeholder="Search products...">
        <button type="submit" style="border: none; background: none; cursor: pointer;">
            <img src="/images/search.png" alt="search" width="20">
        </button>
    </form>

    <a href="/cart">
        <img src="/images/cart.png" alt="cart" width="20">

        <% if (userType !=='admin' ) { %>
            <% if (cartCount> 0) { %>
                <span style="margin-left: 5px; color: black;">(<%= cartCount %>)</span>
                <% } %>
                    <% } %>
    </a>
    
    <% if (userType==='admin' ) { %>
        <a href="/bulkUpload">Bulk Upload</a>
        <a href="/discounts">Promotions</a>
        <a href="/logout">Logout</a>
        <% } else if (userType==='shopper' ) { %>
            <a href="/logout">Logout</a>
            <% } else { %>
                <a href="/login">Login</a>
                <% } %>
</nav>